<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DreamGenerator.ai</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DreamGenerator.ai</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.790316791498-821vknncnv4b5r7v7ds31ovep8borcap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.790316791498-utie09qvamofv7put3tfbgltjnkghrjk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1592924161233838</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>1592924161233838</string>
	<key>FacebookClientToken</key>
	<string>eec028b3b094e07da849b6495b3414cf</string>
	<key>FacebookDisplayName</key>
	<string>DreamGenerator.ai</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5134357171537179~4083543258</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>facebook-stories</string>
		<string>facebook</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>tg</string>
		<string>instagram</string>
		<string>fb</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>facebook-reels</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger</string>
		<string>tg</string>
		<string>whatsapp</string>
		<string>twitter</string>
		<string>fbshareextension</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) uses the camera to allow video calls</string>
	<key>NSContactsUsageDescription</key>
	<string>This app asks for your contacts so you can select contacts that you want to invite to the app.  We don't email without your permission.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) uses the mic to allow video calls</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>In order to edit images, or save to Photos, you'll need to grant Photo access. Don't worry we are not doing anything bad with them, just uploading as you request for modifications and promptly deleting.  You can choose which photos you want us to use, and nobody actually looks at them, just the computer. Thanks!</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This helps me know who to show ads to on Facebook/Instagram.  I'm not showing ads in the app now, so it's just used so I can show ads to people like you on Facebook/Insta.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
