<style>
h1 {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: purple;
}
</style>
<div class="main-header">
    <h1 class="title">{{#if title}}{{title}}{{^}}Dream Generator AI Art{{/if}}</h1>
</div>